.clickable-image {
  cursor: pointer;
}

.searchInputs {
  display: flex;
  vertical-align: middle;
  position: absolute;
  top: 1em;
  left: calc(50vw - 183px);
  text-align: center;
  z-index: 1;
  margin: auto;
}

.search input {
  background-color: white;
  border-radius: 3px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-width: 8px;
  border-right-width: 0px;
  border-style: solid;
  border-color: #eac7c0;
  font-size: 18px;
  padding: 15px;
  height: 40px;
  width: 270px;
  vertical-align: middle;
  font-family: "Georgia, serif;";
}

.searchIcon {
  height: 70px;
  width: 50px;
  background-color: rgb(255, 255, 255);
  border: solid;
  border-color: #eac7c0;
  border-width: 8px;
  border-radius: 3px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left-width: 0px;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  color: "#faad5f";
}

input:focus {
  outline: none;
}
.searchIcon svg {
  font-size: 35px;
  vertical-align: middle;
  display: inline-block;
  justify-content: center;
  align-items: center;
  color: #a09d9d;
  /* color: #e6a498; */
}

.dataResult {
  margin-top: 0px;
  width: 290px;
  height: 200px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
  border: solid;
  border-width: 8px;
  border-radius: 3px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top-width: 0px;
  border-color: #ffffff;
}

.dataResult::-webkit-scrollbar {
  display: none;
}

.dataResult .dataItem {
  width: 100%;
  height: 50px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  color: black;
  font-family: "Georgia, serif;";
}

.dataItem div {
  margin-left: 30px;
}

.dataDiv {
  text-align: left;
}

.dataDiv:hover {
  background-color: rgba(251, 235, 235, 0.833);
  cursor: pointer;
}

.slider {
  margin-left: 20px;
  margin-right: 20px;
}

.sliderText {
  width: 60px;
  font-family: "Georgia, serif;";
  font-size: 18px;
  letter-spacing: 0px;
  word-spacing: 0px;
  color: #000000;
  text-decoration: none;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  /* text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; */
  margin: 0px 0px 0px 0px;
}

#clearBtn {
  cursor: pointer;
}

